a:link{
color:#95FF6E;
}
a:visited{
color:#00DBFF;
}
a:active{
color:#FFFF9D;
}
body{
color:#F8EECE;
background-color:#566EAD;
}
h1{
color:#F8EECE;
}
h2,marquee{
color:#F8EECE;
}
h3{
color:#F8EECE;
}
h4{
color:#F8EECE;
}
h5{
color:#F8EECE;
}
h6{
color:#F8EECE;
}
LABEL,.MSTHEME-LABEL{
color:#F8EECE;
}
FIELDSET{
border-color:#1C377C;
color:#F8EECE;
}
LEGEND{
color:#F8EECE;
}
SELECT{
border-color:#B4BED6;
color:#000000;
}
TABLE{
table-border-color-light:#3E618D;
table-border-color-dark:#1C377C;
border-color:#1C377C;
color:#F8EECE;
}
CAPTION{
color:#F8EECE;
}
TH{
color:#F8EECE;
}
HR{
color:#1C377C;
}
TD{
border-color:#1C377C;
}
