a:link{
color:#B6F1BC;
}
a:visited{
color:#DBD7FF;
}
a:active{
color:#FFFFFF;
}
body{
color:#FFFFFF;
background-color:#4F68A7;
}
h1{
color:#FFFFFF;
}
h2,marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#213D83;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#B4BED6;
color:#000000;
}
TABLE{
table-border-color-light:#32558D;
table-border-color-dark:#213D83;
border-color:#213D83;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#213D83;
}
TD{
border-color:#213D83;
}
